.popular-item {
  display: grid;
  gap: 20px;
  margin-top: 40px;
  padding: 0 20px;
}

/* Mobile → 2 columns */
@media (max-width: 768px) {
  .popular-item {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet → 3 columns */
@media (min-width: 769px) and (max-width: 1024px) {
  .popular-item {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop → 4 columns */
@media (min-width: 1025px) {
  .popular-item {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* TITLE */
.Popular {
  text-align: center;
}

.Popular h1 {
  font-size: 40px;
  font-weight: 600;
}

.Popular hr {
  width: 120px;
  height: 5px;
  background: red;
  border-radius: 10px;
  margin: 10px auto;
}
